#app {
  display: flex;
  flex-flow: row;
  width: 100%;
}

#left {
  flex: 1;
  font-size: 1px;
  width: 50vw;
  columns: 30;
  font-weight: 1000;
}

#left ol {
  padding: 0;
}

#left ul {
  padding: 0;
}

#left dd {
  margin: 0;
}

#right {
  flex: 1;
  font-family: "Vollkorn";
  margin-left: 1em;
  margin-right: 1em;
}

#right h1 {
  font-size: 400%;
}
