#app {
  display: flex;
  flex-flow: row;
  width: 100%;
  font-family: "Vollkorn";
}

#left {
  flex: 1;
  font-size: 0.75px;
  width: 50vw;
  columns: 30;
  column-gap: 4em;
  font-weight: 1000;
}

#left ol {
  padding-left: 1em;
}

#left ul {
  padding-left: 1em;
}

#left dd {
  margin-left: 1em;
}

#right {
  flex: 1;
  margin-left: 2em;
  margin-right: 2em;
}

#right h1 {
  font-size: 400%;
}
