#app {
  display: flex;
  flex-flow: row;
  width: 100%;
  font-family: "Vollkorn";
}

#left {
  font-size: 0.75px;
  width: 50vw;
  columns: 30;
  column-gap: 0;
  font-weight: 1000;
}

#left ol {
  padding-left: 1em;
}

#left ul {
  padding-left: 1em;
}

#left dd {
  margin-left: 1em;
}

#left .h1 .lowlight {
  background: #dddddd;
}

#left .h2 .lowlight {
  background: #cccccc;
}

#left .h3 .lowlight {
  background: #aaaaaa;
}

#left .h4 .lowlight {
  background: #999999;
}

#left .h5 .lowlight {
  background: #777777;
}

#left .h6 .lowlight {
  background: #555555;
}

#left .highlight {
  background: yellow;
};

#right {
  width: 50vw;
}

#right h1, #right h2, #right h3, #right h4, #right h5, #right h6 {
  margin-left: 2rem;
  margin-right: 2rem;
}

#right h1 {
  font-size: 400%;
}

#right h3, #right h4, #right h5, #right h6 {
  margin-right: 10rem;
}
